body {
  background-color: #f5f3ed;
  font-family: 'Times New Roman', Times, serif;
}
/*Navigation menu*/

.navbar {
  display:flex;
  background-color: white;
  font-family: "Space Mono", monospace;
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;
  border-color: #c0c1c2;
  border-style: solid;
  border-width: 1px;
  box-shadow: 15px 5px 15px 1px #c0c1c2;
  padding: 20px
}

.nonav {
  cursor: default;
}

.slash {
  cursor: default;
}

a:link {
  text-decoration: none;
  color:black
}

.nav {
  margin-left: 10%;
}

.nav:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: black;
}

/*Title*/
#title {
  text-align:center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color:#85aed6;
  padding: 15%;
  background-color: #85aed6;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#subtitle {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 17px;
}

.btn {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #d9ead3;
  border-style: ridge;
  border-color: #d9ead3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  background-color: #b3c2ae;
}

.pdflink {
  color: blue;
  text-decoration-line: underline;
}