body {
  background-color: #f5f3ed;
  font-family: 'Times New Roman', Times, serif;
}
/*Navigation menu*/

.main {
  display: grid;
  grid-row: auto;
  row-gap: none;
}

.navbar {
  display:flex;
  background-color: white;
  font-family: "Space Mono", monospace;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-color: #85aed6;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-bottom: 0px;
}

.nonav {
  cursor: default;
  text-decoration: none;
}

#slash {
  cursor: default;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color:black
}

.nav {
  margin-left: 10%;
}

.nav:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: black;
}

/*Title*/
#title {
  text-align:center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  border-style: solid;
  border-width: 2px;
  border-color:#85aed6;
  padding: 15%;
  background-color: #85aed6;
  margin-top: 0px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h4, p {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#subtitle {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 17px;
}

.btn {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #d9ead3;
  border-style: ridge;
  border-color: #d9ead3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  background-color: #b3c2ae;
}

.pdflink {
  color: blue;
  text-decoration-line: underline;
}

/*Quiz Styling*/
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#resulta {
    margin-top: 20px;
    font-weight: bold;
}

